.lista-filmes {
    background: rgba(25,25,167,0.884);
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lista-filmes .card {
    background-color: transparent;
    min-width: 200px;
    width: 15vw;
    height: 40vh;
    perspective: 1000px;
    margin: 1vw;
    z-index: 990;
}

.lista-filmes .card .filme {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: none;
}

.lista-filmes .card:hover .filme {
    transform: rotateY(180deg);
}

.info, .img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}





.img img{
    width: 85%;
    height: 35vh;
}

.lista-filmes .card .info{
    transform: rotateY(180deg);

}

.info{
    background-color: rgba(20, 99, 202, 1);
    color: rgb(0, 0, 153);
    padding-top: 5%;
    padding-bottom: 0;
}


.info button{

    background-color: #DCE4FF;
    color: #8AAEF4;
    border: none;
    border-radius: 10%;
    margin: 15px 4px 0 0;
}

.modalConfig {
    background-color: rgba(20, 99, 202, 1);
    color:rgb(0, 0, 153);
    text-align: center;
}

.modalFechar {
    background-color: rgb(103, 103, 204);
    border: none;
    color: rgb(0, 0, 153);
}
