body, html {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.imagem {
    display: flex;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.filmeAcao {
    background: url(../imagens/backgroundFilmeAcao.jpg) no-repeat fixed center;
    background-size: cover;

}

.filmeDrama {
    background-image: url(../imagens/backgroundFilmeDrama.jpg);

}

.filmeRomance {
    background-image: url(../imagens/backgroundFilmeRomance.jpg);

}

.filmeComedia {
    background-image: url(../imagens/backgroundFilmeComedia.jpg);

}

.filmeHerois {
    background-image: url(../imagens/backgroundFilmeHerois.jpeg);

}

.filmeFantasia {
    background-image: url(../imagens/backgroundFilmeFantasia.jpg) ;

}

.titulo-genero{
    background-color: rgba(25, 25, 167, 0.35);
    position: absolute;
    color: rgb(176, 176, 255);
    padding: 10px;
    border-radius: 30%;
}

h1 {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
}

.divFundo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
